body {margin: 0px;width: 1280px;height: 800px;background-color: rgb(172, 172, 172);background-image: url('/img/pattern.png');background-repeat: repeat;background-size: 100px;}
.bookcover {background-color: rgb(255, 244, 144);width: 940px;height: 544px;border-radius: 10px;border-style: solid;border-width: 1px;margin-top: 50px;margin-left: 50px;}
.bookdot {border-style: dashed;border-radius: 10px;border-color: rgb(0, 0, 0);border-width: 1px;margin: 15px;}
.page {background-color: rgb(240, 240, 240);width: 896px;height: 500px;border-style: solid;border-radius: 10px;border-width: 1px;margin: 5px;display: flex;}
#section {width: 1000px;height: 800px;float: left;margin-right: 60px;}
#left_border {display: flex;flex: 0.6; flex-direction: column;}
#main_border {display: flex;flex: 2;flex-direction: column;}
#count_day {display: flex;flex: 0.2;font-size: 12px;align-items: flex-end; justify-content: center;}
#profile {flex: 2;}
.red_span {color: red;font-weight: 700;}
#left_in_bar {flex: 2; background-color: rgb(255, 255, 255);border: solid; border-width: 1px; border-color: rgb(160, 160, 160);border-radius: 5px;margin: 10px;}
#main {display: flex;flex: 1;background-color: rgb(255, 255, 255);border: solid; border-width: 1px; border-color: rgb(160, 160, 160);border-radius: 5px;margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 0px;}
#top {display: flex;flex-direction: row;flex: 0.1;}
.top_title {display: flex;flex-direction: row; flex: 1;font-size: 12px;align-items: flex-end;position: relative;left: 20px;}
.top_url {display: flex;flex: 1; font-size: 10px;align-items: flex-end;justify-content: right;position: relative;right: 20px;}
#right_side_bar {width: 180px; height: 200px;;float: left;margin-top: 50px;border-radius: 10px;display: flex;flex-direction: column;}
.menu_bar {display: flex; flex: 0.2;border: solid; border-width: 1px;margin-top: 0px;margin-bottom: 10px;}
#cy_home_butten {display: flex;flex: 0.15;background-color: rgb(139, 128, 121);color: rgb(214, 214, 214);border-radius: 3px;justify-content: center;}
.right20 {padding-right: 15px;position: relative;bottom: 6px;}
p{margin: 0px;}
#state {display: flex;flex-direction: row;flex: 0.4;font-size: 12px;position: relative;top: 5px;border-radius: 3px;padding-top: 5px; padding-left: 8px;background-color: #fff;}
.state_name {flex: 0.5;font-size: 12px;}
.state_bar {flex: 1;position: relative;bottom: 1px;}
.meter1>meter::-webkit-meter-optimum-value {background-image: linear-gradient(#2661df 0%,#2661df 100%);}
.meter2>meter::-webkit-meter-optimum-value {background-image: linear-gradient(#ff4800 0%,#ff4800 100%);}
.meter3>meter::-webkit-meter-optimum-value {background-image: linear-gradient(#00e200 0%,#00e200 100%);}
hr {border-style: dotted;border-width: 1px;color: gray;padding-bottom: 5px;}
.symbol {flex: 0.3;font-size: 12px;background-color: white;padding-left: 8px;padding-right: 8px;align-items: center;}
.symbol_img {width: 25px;height: 25px;border-radius: 2px;}
.scrap_favorites {flex: 0.1;font-size: 11px;background-color: white;text-align: center;}
.use_item {flex: 0.1;background-color: white;font-size: 11px;padding-left: 8px;padding-right: 8px;padding-bottom: 3px;}
.music {flex: 0.2;background-color: rgb(214, 214, 214);font-size: 11px;padding-top: 3px; padding-left: 8px;padding-right: 8px;padding-bottom: 3px; border-radius: 3px;}

